# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Production
build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env*.local

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
